@model IEnumerable<Patient>

@{
    ViewData["Title"] = "Patient";
}




<div class="container-fluid">
    <h1 class="mt-4 ">Patients List</h1>
    <a class="btn btn-outline-success mt-2 ms-1 mb-2" asp-controller="Patients" asp-action="Create">Create New Department Post</a>
    <div class="card mb-4">
        <div class="card-body text-center bg-dark text-bg-dark">
            <p class="fw-bold text-bg-dark"><i> You can see all Doctors in this area...</i> </p>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Role</th>
                            <th>FullName</th>
                            <th>Image</th>
                            <th>Email</th>
                            <th>Diagnosis</th>
                            <th>City</th>
                            <th>Phone</th>
                            <th>Doctor</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Role</th>
                            <th>FullName</th>
                            <th>Image</th>
                            <th>Email</th>
                            <th>Diagnosis</th>
                            <th>City</th>
                            <th>Phone</th>
                            <th>Doctor</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>

                    <tbody>
                        @foreach (var patient in Model)
                        {
                            <tr>
                                <td>@patient.Id</td>
                                <td>
                                    @patient.Role?.RoleName
                                </td>
                                <td>@patient.FullName</td>
                                <td>@patient.Image</td>
                                <td>@patient.Email</td>
                                <td>@patient.Diagnosis</td>
                                <td>@patient.City</td>
                                <td>@patient.Phone</td>
                                <td>@patient.Doctor?.FullName</td>

                                <td>
                                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@patient.Id">Edit</a> 
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

